* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #412b6b;
  width: 100%;
  max-width: 250px;
  box-shadow: 5px 0px 10px gray;
}

.Logo {
  padding: 35px;
  margin-bottom: 45px;
}

nav ul {
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px;
  max-width: 250px;
}

li {
  cursor: pointer;
  background-color: aliceblue;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(11, 10, 10);
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  transition: transform 0.3s;
}

li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(215, 209, 209);
  padding: 5px;
}

.greet {
  background-color: rgb(146, 26, 26);
  padding: 20px;
  border-radius: 20px;
}

button {
  width: 100%;
  max-width: 120px;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  background-color: rgb(78, 0, 117);
  padding: 4px;
  transition: background-color 0.3s, letter-spacing 0.5s;
}

button:hover {
  background-color: aliceblue;
  letter-spacing: 1px;
}

.shorcut {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  padding: 5px;
  gap: 5px;
}

.Savings,
.recent {
  padding: 20px;
  border-radius: 5px;
  background-color: blue;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.recent-transactions {
  background-color: white;
  width: 100%;
  height: 100%;
}
